<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="EPcon" connectionString="Data Source=192.168.3.xxx;Initial Catalog=EnterprisePortal;User ID=;Password=" providerName="System.Data.SqlClient"/>
    <add name="fccDB" connectionString="Data Source = (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST =192.168.1.xxx)(PORT = 15xx)))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME =FCUBSDU))); User Id =; Password = ;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="enKey" value="0x010000008B51AE8BEDDB64417AE8EC501DF99680C2C7AAE53C6ACFAE873F8D2C1B12291A"/>
    <add key="EmailSender" value="cbzportal@cbz.co.zw"/>
    <add key="SMTPServer" value="192.168.145.xxx"/>
    <add key="SMTPPort" value="25"/>
    <add key="receivers" value="tndhliwayo@cbz.co.zw"/>
    <!--eca-->
    <add key="GetBlockedFunds" value="select *  from [EnterprisePortal].[dbo].[tblBlockedFundsClearing]"/>
    <!--eca-->
    <add key="GetFilterExBlockedFunds" value="select * from tblBlockedFundsClearing where [CUSTACNO] = '@CUSTACNO' "/>
    <!--eca-->
    <add key="FCCBlockedFunds" value="select 1||substr(ECA_CREATE_EXT_REF_NO,2) as UNDOEXTREFNO,eca_create_ext_ref_no as ECAREFNO,effective_date as EFFECTIVEDATE  from catm_eca_block_master          where eca_ref_no in (select eca_ref_no from catm_eca_block_detail where ECA_BLK_STATUS='A' and rownum&lt;=1)"/>
    <!--eca-->
    <add key="FCCBlockedFunds1" value="select eca_ref_no as CREATEEXTREFNO,cust_ac_no as CUSTACNO,cust_ac_brn as CUSTACBRN,approved_block_amount as APPROVEDBLKAMT  from catm_eca_block_detail where ECA_BLK_STATUS='A' and rownum&lt;=1"/>
    <!--eca-->
  <add key="FccCA.FCUBSCAService" value="http://192.168.1.144:7003/FCUBSCAService/FCUBSCAService"/>
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" executionTimeout="5" requestLengthDiskThreshold="2147483647"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>